@{
    ViewData["Title"] = "مرامنامه";
}

<div class="container-fluid text-center p-0">


    <div class="container-fluid text-center p-0">


        <div class="row  d-flex container align-items-center justify-content-center">
            <div class="col col-sm-12  " style=" font-family:'Times New Roman';">

                    <h4 class="lh-md shadow p-3  bg-body-tertiary rounded  text-end ">
                        <span dir="rtl">
                            <div class="text-center">
                            به نام خداوند جان و خرد    
                            <br />
                            کزین برتر اندیشه برنگذرد
                            <br /><br />
                            <img src="~/Static_Files/Images/logo-big.png" style="width:300px"  />
                            <br /><br />
                            مرامنامه گروه برای آزادی
                            </div>
                            <br /><br  >
                        گروه برای آزادی حیات سیاسی خود را، از سال 2018 میلادی (در ابتدا با نام جنبش همبستگی ملی ایرانیان) در وین (اتریش) آغاز نمود.
                        <br />
                        این گروه تنها راه آزادی ایران را، براندازی و سرنگونی تمامیت رژیم جمهوری اسلامی می داند. (بهمراه تمام شاخه ها و عوامل آن اهم از: بیت رهبری، سپاه پاسداران، کلیه ارگانهای اطلاعاتی و نظامی سرکوبگر در داخل و خارج از کشور، اصلاح طلبان، رفرمیست ها، لابیست های رژیم (مانند سازمان نایاک)، اپوزوسیون تقلبی، و کلیه حقوق بگیران و ایرانفروشانی که از خون مردم ایران تغذیه می کنند.)
                        <br />
                        این گروه اعتقاد دارد که بعد از سرنگونی حکومت جمهوری اسلامی، تمام افرادی که در طول حیات جمهوری اسلامی با داشتن سمتهای رسمی و حکومتی (یا به پشتوانه این افراد) در سرکوب، حبس، آسیب رساندن و کشتار مردم ایران، و همچنین تاراج ثروت ملی و تخریب اکوسیستم این سرزمین، بصورت مستقیم یا غیر مستقیم نقش داشته اند، باید در دادگاه های ذی صلاح و مردمی محاکمه شوند.
                        <br />
                        گروه برای آزادی به چهار اصل سکولاریسم، دموکراسی، تمامیت ارضی و رفراندوم برای تعیین نوع نظام سیاسی توسط مردم ایران (بعد از سرنگونی)، اعتقاد راسخ دارد.
                        <br />
                        گروه برای آزادی بر این باور است که تنها با اتحاد حول محور ایرانگرایی و ملی گرایی می- توان بر اهریمن جمهوری اسلامی پیروز شد. بر همین اساس شاهزاده رضا پهلوی را به دلیل اعتقاد ایشان به ایرانگرایی، ملی گرایی، دموکراسی، سکولاریسم، تمامیت ارضی و همچنین رفراندوم برای تعیین نوع حکومت توسط مردم ایران (بعد از سرنگونی)، شایسته ترین فرد در حال حاضر برای رهبری و هدایت جنبش آزادیخواهی مردم ایران می داند.
                        <br />
                        گروه برای آزادی در حال حاضر پرچم شیر و خورشید را بعنوان پرچم فعلی ایران (آخرین پرچم رسمی ایران و متعلق به حکومت مستقر پهلوی قبل از استقرار جمهوری اسلامی)، برسمیت می شناسد. و بر این باور است در فردای آزادی طرح پرچم ملی مانند هر موضوع ملی دیگر، بر اساس رای و نظر مردم ایران خواهد بود.
                        <br /><br />
                        پاینده ایران و ایرانی

                        

                            <br />
                        
                            <div class="text-center  ">
                            <img src="~/Static_Files/Images/ShiroKhorshid-flag.jpg" style="width:300px" /><br />
                            <a href="~/Static_Files/Docs/مرامنامه_گروه_برای_آزادی.pdf" style="text-decoration:none; color:cyan">
                                    دانلود مرامنامه بصورت PDF
                                </a>
                            <br />
                            
                            
                            </div>


                        </span>

                    </h4>
                </div>
            </div>
        
    </div>



</div>


