@{
    ViewData["Title"] = "صفحه اصلی - گروه برای آزادی";
}

<div class="text-center">
    

    <div class="container text-center p-5">
        <div class="row  d-flex align-middle">
            <div class="col col-sm-8  text-justify my-auto align-middle" style=" font-family:'Times New Roman';" >

                <h4 class="lh-md shadow p-3  bg-body-tertiary rounded  text-end "  >
                    <span dir="rtl">
                    گروه برای آزادی (جنبش همبستگی ملی ایرانیان) از حیات سیاسی خود را، از سال 2018 میلادی در کشور اتریش آغاز نمود.
                    <br />
                    این گروه تنها راه آزادی ایران را، براندازی و سرنگونی تمامیت رژیم جمهوری اسلامی می داند.
                    <br />
                        (بهمراه تمام شاخه ها و عوامل آن اهم از: بیت رهبری، سپاه پاسداران، کلیه ارگانهای اطلاعاتی و نظامی سرکوبگر در داخل و خارج از کشور، اصلاح طلبان، رفرمیست ها، لابیست ها، اپوزوسیون تقلبی، و کلیه حقوق بگیران و ایرانفروشانی که از خون مردم ایران تغذیه می کنند.)
                        <br /><br />
                        <div class="text-center  ">
                            <a href="~/Static_Files/Docs/مرامنامه_گروه_برای_آزادی.pdf" style="text-decoration:none; color:cyan">
                                
                                متن کامل مرامنامه گروه برای آزادی</a>
                        </div>
                    </span>

                </h4>


            </div>
            <div class="col col-sm-4  align-items-center my-auto">
                <img src="~/Static_Files/Images/logo-big.png" alt="logo" style="width: 300px" />
            </div>
        </div>
    </div>

    <div class="container text-center p-5">
        <div class="row  d-flex align-middle">
            <div class="col col-sm-8  text-justify my-auto align-middle" style=" font-family:'Times New Roman';">

                <h4 class="lh-md shadow p-3  bg-body-tertiary rounded  text-end ">
                    <span dir="rtl">
                        همچنین گروه برای آزادی، یکی از اعضای رسمی فدراسیون ایرانیان متحد می باشد.
                        <br /><br />
                        <a href="https://unitediraniansfed.org/" style="text-decoration:none">
                            فدراسیون (پادمان) ایرانیان متحد،
                        </a>
                        مشتمل بر بیش از ۵۲ گروه و تشکل سیاسی از سرتاسر دنیا زیر پرچم سه‌رنگ شیروخورشید نشان - که نماد استقلال ملی و تمامیت ارضی میهن‌مان است - فعالیت خود را آغاز نمود. این فدراسیون شاهزاده رضا پهلوی را به عنوان رهبر انقلاب ملی و جنبش‌های آزادیخواهانه‌ی ملت ایران می‌شناسد و فعالیت‌های خود را در این راستا تعریف و اجرا می‌کند.
                        <br /><br />
                        
                        <div class="text-center  ">
                            <a href="~/Static_Files/Docs/فرم_عضویت_و_مرامنامه_فدراسیون_ایرانیان_متحد.pdf" style="text-decoration:none; color:cyan">

                                متن کامل مرامنامه فدراسیون ایرانیان متحد
                            </a>
                        </div>
                        <br />
                        <div class="text-center  ">
                            <a href="https://kayhan.london/1402/12/25/344493/" style="text-decoration:none; color:cyan">
                                بیانبه مطبوعاتی فدراسیون ایرانیان متحد
                            </a>
                        </div>
                    </span>

                </h4>


            </div>
            <div class="col col-sm-4  align-items-center my-auto">
                <img src="~/Static_Files/Images/logo-united.png" alt="logo" style="width: 300px" />
            </div>
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Static_Files/Images/Slides/slide3.png" class="d-block w-100" alt="...">
            </div>

        </div>

    </div>
    

</div>

