@model IEnumerable<Statement>

@{
    ViewData["Title"] = "Statements";
}

<div class="text-center">


    <div class="container text-center p-5">
        
        @foreach (var item in Model)
        {

        <div class="row d-flex align-middle">
            
            <div class="col col-sm-8  text-justify my-auto align-middle" style=" font-family:'Times New Roman';">

                <h4 class="lh-md shadow p-3  bg-body-tertiary rounded  text-end ">
                    <span dir="rtl">
                        <div class="text-center">
                            @item.Title
                        </div>
                        <br /><br />
                            <div class="text-start">
                            @item.Brief
                            </div>
                        <br /><br />
                        <div class="text-center  ">
                                <a asp-controller="Statement" asp-action="StatementText" asp-route-statementId="@item.StatementId"
                                       class=" mx-2" style="text-decoration:none; color:cyan">
                                Full Text of Statement
                             </a>
                        </div>
                        <br />
                        <div class="text-center  ">
                            <a href="~/@item.PdfUrl" style="text-decoration:none; color:cyan">
                                Download Statement as PDF
                            </a>
                        </div>
                    </span>

                </h4>
            </div>
                
            <div class="col col-sm-4  align-items-center my-auto">
                    <img src="~/@item.ImageUrl" style="width: 300px" />
            </div>
        </div>
        }
    </div>



</div>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/CutStatment.js"></script>

}
