@model Contactus

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-warning bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">
                    Contact Us
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" enctype="multipart/form-data" >

            <div class="p-3">
                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating py-3 col-12">
                    <input asp-for="Name" class="form-control border shadow" placeholder="John Doe" />
                    <label asp-for="Name" class="ms-2">FullName*</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-3 col-12">
                    <input asp-for="Email" class="form-control border shadow" placeholder="Email" />
                    <label asp-for="Email" class="ms-2">Email*</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating py-3 col-12">
                    <input asp-for="Phone" class="form-control border shadow" placeholder="+4367054367" />
                    <label asp-for="Phone" class="ms-2">Phone(optional)</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-floating py-3 col-12">
                    <textarea asp-for="Message" style="min-height:200px; resize:none;" placeholder="Write here!" class="form-control 
                    border shadow"   >write your message here!</textarea>
                    <label asp-for="Message" class="ms-2">Message*</label>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
@*                 <div class="form-floating py-3 col-12">
                    <input asp-for="AttachedFileUrl" type="hidden" class="form-control border shadow" />
                    <input asp-for="AttachedFile" class="form-control border shadow" />
                    <label asp-for="AttachedFile" class="ms-2">AttachedFile(optional)</label>
                    <span asp-validation-for="AttachedFileUrl" class="text-danger"></span>
                </div> *@
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class=" btn btn-success w-100">
                            Send Message
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}