@{
    ViewData["Title"] = "Charter";
}

<div class="container-fluid text-center p-0">


    <div class="container-fluid text-center p-0">


        <div class="row  d-flex container align-items-center justify-content-center">
            <div class="col col-sm-12  " style=" font-family:'Times New Roman';">

                    <h4 class="lh-md shadow p-3  bg-body-tertiary rounded  text-start ">
                        
                            <div class="text-center">
                        In the name of the Lord of the Soul and Wisdom,<br />
                        whose Wisdom Man's thought cannot surpass<br />
                        (Ferdowsi poems)

                            <br /><br />
                            <img src="~/Static_Files/Images/logo-big.png" style="width:300px"  />
                            <br /><br />
                            Charter of the Baraye(=For) Azadi(=Freedom) Group
                            
                            </div>
                        <br /><br />
                        The Baraye Azadi Group initiated its political activism in 2018 (initially under the name Iranian National Solidarity Movement) in Vienna, Austria.
                        <br />
                        This group perceives the only path to Iran's freedom as the overthrow and downfall of the entirety of the Islamic Republic regime, including all its branches and agents, such as the Supreme Leader's office, the Revolutionary Guard, all suppressive intelligence and military agencies inside and outside the country, reformists, moderates, regime lobbyists (like NIAC), counterfeit opposition, and all rights violators and profiteers who feed off the blood of the Iranian people.
                        <br />
                        The group believes that following the overthrow of the Islamic Republic government, all individuals who, during the Islamic Republic's existence, directly or indirectly participated in oppression, imprisonment, harming, and massacre of the Iranian people, as well as looting national wealth and destroying the ecosystem of this land, must be tried in competent and popular courts.
                        <br />
                    The Baraye Azadi Group  staunchly adheres to four principles: secularism, democracy, territorial integrity, and a referendum to determine the type of political system by the Iranian people (after the overthrow).
                        <br />
                        The Group for Freedom believes that only through unity around the axis of Iranism and nationalism can victory be achieved over the demonic Islamic Republic. Based on this principle, Prince Reza Pahlavi is considered the most deserving individual currently for leading and guiding the movement for the freedom of the Iranian people, due to his belief in Iranism, nationalism, democracy, secularism, territorial integrity, and also a referendum to determine the type of government by the Iranian people (after the overthrow).
                        <br />
                    The Baraye Azadi Group  currently recognizes the Lion and Sun flag as the current flag of Iran (the last official flag of Iran belonging to the Pahlavi government before the establishment of the Islamic Republic). And it believes that in the future of freedom, the design of the national flag, like any other national issue, will be based on the vote and opinion of the Iranian people.
                        <br /><br />
                        Long live Iran and Iranians.
                        

                            <br />
                    <br />
                            <div class="text-center  ">
                        <img src="~/Static_Files/Images/ShiroKhorshid-flag.jpg" style="width:300px" />
                        <br />
                        <br />
                        <a href="~/Static_Files/Docs/Baraye_Azadi_Group_Charter.pdf" style="text-decoration:none; color:cyan">
                                    Download Chart as PDF
                                </a>

                            
                            </div>


                        

                    </h4>
                </div>
            </div>
        
    </div>



</div>


