@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">


    <div class="container-fluid col-sm-12 mb-5 mt-5 p-0">

        <div class="row  d-flex container align-items-center justify-content-center">
            <div class="col col-sm-3  align-items-center my-auto">
                <img src="~/Static_Files/Images/logo-big.png" alt="logo" style="width: 300px"  />
            </div>
            <div class="col col-sm-9  text-justify my-auto align-middle" style=" font-family:'Times New Roman';">
                
                <h5 class="lh-md shadow p-3  bg-body-tertiary rounded text-start  ">
                    The Group for Freedom initiated its political activism in 2018 (initially under the name Iranian 
                    National Solidarity Movement) in Vienna, Austria.
                    <br /><br />
                    This group perceives the only path to Iran's freedom as the overthrow and downfall of the 
                    entirety of the Islamic Republic regime, including all its branches and agents, such as the 
                    Supreme Leader's office, the Revolutionary Guard, all suppressive intelligence and military 
                    agencies inside and outside the country, reformists, moderates, regime lobbyists (like NIAC), counterfeit 
                    opposition, and all rights violators and profiteers who feed off the blood of the Iranian people.
                    <br /><br />
                    <div class="text-center  ">
                        <a asp-controller="Home" asp-action="CharterText"
                           class=" mx-2" style="text-decoration:none; color:cyan">
                            Full Text of Charter
                        </a>
                    </div>
                    <br />
                    <div class="text-center  ">
                        <a href="~/Static_Files/Docs/Baraye_Azadi_Group_Charter.pdf" style="text-decoration:none; color:cyan">
                            Download Chart as PDF
                        </a>
                    </div>
                
                </h5>
                
            </div>

        </div>
    </div>

    <div class="container text-center p-5">
        <div class="row  d-flex align-middle">
            <div class="col col-sm-3  align-items-center my-auto">
                <img src="~/Static_Files/Images/logo-united.png" alt="logo" style="width: 300px" />
            </div>
            <div class="col col-sm-9 text-justify my-auto align-middle" style=" font-family:'Times New Roman';">

                <h5 class="lh-md shadow p-3  bg-body-tertiary rounded  text-start ">

                    Also, the Baraye Azadi Group is one of the official members of the 
                    <a href="https://unitediraniansfed.org/" style="text-decoration:none">
                    United Iranian Federation. 
                    </a>
                    <br /><br />
                    The United Iranian Federation, consisting of over 52 political groups and organizations from around the
                    world under the tricolor flag of the lion and sun (Shir-o-Khoshid) - which is the symbol of our 
                    national independence and territorial integrity - has begun its activities. 
                    <br />
                    This federation recognizes Prince Reza Pahlavi as the leader of the national revolution and freedom movements of the Iranian people, and conducts its activities in this direction.                        <br /><br />
                        <div class="text-center  ">
                            <a href="~/Static_Files/Docs/Charter-of-the-United-Iranians-Federation.pdf" style="text-decoration:none; color:cyan">
                                Charter of the United Iranians Federation
                            </a>
                        </div>
                    

                </h5>


            </div>

        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" 
            aria-label="Slide 1"></button>
            
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Static_Files/Images/Slides/slide3.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>
