@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    

    <div class="container text-center p-5">
        <div class="row  d-flex align-middle">
            <div class="col col-sm-4  align-items-center my-auto">
                <img src="~/Static_Files/Images/logo-big.png" alt="logo" style="width: 300px"  />
            </div>
            <div class="col col-sm-8  text-justify my-auto align-middle" style=" font-family:'Times New Roman';">
                
                <h5 class="lh-md shadow p-3  bg-body-tertiary rounded text-start  ">
                Since 2018 AD, the Baraye Azadi (Iranian National Solidarity) Group has embarked on its human-rights and political activities for Iran’s Freedom in Austria.
                    <br /><br />
                    This group sees the overthrow of the Islamic Republic regime as the only path to freedom for Iran. 
                    <br />
                
                    (This includes all branches and elements of it, notably: the Supreme Leader's Office, the Revolutionary 
                    Guards Corps, all repressive intelligence and military organs inside and outside the country, regime's lobbyists 
                    (such as the NIAC), fake regime's opposition, and all Iranians enemies who feed off the blood of 
                    the Iranians.)
                    <br /><br />
                    <div class="text-center  ">
                        <a href="~/Static_Files/Docs/charter-of-the-baraye-azadi-group.pdf" style="text-decoration:none; color:cyan">
                            Charter of the Baraye Azadi group
                        </a>
                    </div>
                
                </h5>
                
            </div>
        </div>
    </div>

    <div class="container text-center p-5">
        <div class="row  d-flex align-middle">
            <div class="col col-sm-4  align-items-center my-auto">
                <img src="~/Static_Files/Images/logo-united.png" alt="logo" style="width: 300px" />
            </div>
            <div class="col col-sm-8  text-justify my-auto align-middle" style=" font-family:'Times New Roman';">

                <h5 class="lh-md shadow p-3  bg-body-tertiary rounded  text-start ">

                    Also, the Baraye Azadi Group is one of the official members of the United Iranian Federation. 
                    <br /><br />
                    The United Iranian Federation, consisting of over 52 political groups and organizations from around the
                    world under the tricolor flag of the lion and sun (Shir-o-Khoshid) - which is the symbol of our 
                    national independence and territorial integrity - has begun its activities. 
                    <br />
                    This federation recognizes Prince Reza Pahlavi as the leader of the national revolution and freedom movements of the Iranian people, and conducts its activities in this direction.                        <br /><br />
                        <div class="text-center  ">
                            <a href="~/Static_Files/Docs/Charter-of-the-United-Iranians-Federation.pdf" style="text-decoration:none; color:cyan">
                                Charter of the United Iranians Federation
                            </a>
                        </div>
                    

                </h5>


            </div>

        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" 
            aria-label="Slide 1"></button>
            
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Static_Files/Images/Slides/slide3.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>
