@{
    ViewData["Title"] = Model.Title;
}

<div class="container-fluid text-center p-0">


    <div class="container-fluid text-center p-0">
        <div class="row  d-flex container align-items-center justify-content-center">
            <div class="col col-sm-9  text-justify my-auto align-middle" style=" font-family:'Times New Roman';">

                <h4 class="lh-md shadow p-3  bg-body-tertiary rounded  text-end ">
                    <span dir="rtl">
                        <div class="text-center">
                        بیانیه گروه برای آزادی
                        در محکومیت مطلب وبسایت وزارت خارجه آمریکا در مورد فائزه هاشمی رفسنجانی
                        </div>
                        <br /><br />
                        فائزه هاشمی رفسنجانی، دختر آیت الله اکبر هاشمی رفسنجانی است.
                        تیم دونفره اکبر هاشمی رفسنجانی و علی خامنه ای به عنوان مسئولین رده بالای حکومتی - و کسانی که ستونهای جمهوری اسلامی را بنا نهادند - در تمامی جنایات و اقدامات این حکومت بر ضد  مردم و سرزمین ایران، نقش اصلی را داشته اند.
                        <br /><br />
                        <div class="text-center  ">
                            <a href="~/Static_Files/Docs/Statements/032024-بیانیه-در-محکومیت-مقاله-سایت-فارسی-وزارت-خارجه-امریکا-در-مورد-فائزه-هاشمی.pdf" style="text-decoration:none; color:cyan">
                                متن کامل بیانیه گروه برای آزادی
                            </a>
                        </div>
                    </span>

                </h4>


            </div>
            <div class="col col-sm-3  align-items-center my-auto">
                <img src="~/Static_Files/Docs/Statements/Images/Faezeh_Hashemi.jpg" style="width: 300px" />
            </div>
        </div>
    </div>



</div>

@section Scripts{

<script type="text/javascript" src="~/Scripts/CutStatment.js"></script>

}
