@{
    ViewData["Title"] = "Statements - Baraye Azadi Group";
}

<div class="text-center">
    

    <div class="container text-center p-5">
        <div class="row  d-flex align-middle">
            <div class="col col-sm-4  align-items-center my-auto">
                <img src="~/Static_Files/Docs/Statements/Images/Faezeh_Hashemi.jpg" alt="logo" style="width: 300px"  />
            </div>
            <div class="col col-sm-8  text-justify my-auto align-middle" style=" font-family:'Times New Roman';">
                
                <h5 class="lh-md shadow p-3  bg-body-tertiary rounded text-start  ">
                    <div class="text-center">
                    Statement of the Baraye Azadi Group
                    <br />
                    Regarding the Condemnation of the US Department of State's Statement on Faezeh Hashemi Rafsanjani
                    </div>
                    <br /><br />
                    Faezeh Hashemi Rafsanjani is the daughter of Ayatollah Akbar Hashemi Rafsanjani. 
                    The duo of Akbar Hashemi Rafsanjani and Ali Khamenei, as high-ranking officials of the government - and 
                    those who laid the pillars of the Islamic Republic - have played a central role in all the crimes and actions
                    of this government against the people and the land of Iran.
                    <br /><br />
                    <div class="text-center  ">
                        <a href="~/Static_Files/Docs/Statements/032024-Statement-Condemning-the-Article-on-the-Persian-Website by-US-Department-of-State-Regarding-Faezeh-Hashemi.pdf" style="text-decoration:none; color:cyan">
                            Full Text of this Statement
                        </a>
                    </div>
                
                </h5>
                
            </div>
        </div>
    </div>

   

</div>
